/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #4E5A6A;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

p{
    line-height: 30px;
}

li{
    list-style: none;
}

.fa-check-circle{
    color: #fe775a;
    margin-right: 10px;
}
/* UTILIES */

.container{
    width: 1350px;
    margin: auto;
}

.w-50{
    width: 50%;
}

.h-container{
    height: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.relative{
    position: relative;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

/* NON UTILIZZATO */
.mt-30{
    margin-top: 30px;
}

.mb-30{
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    min-width: 60px;
    line-height: 1;
    text-align: center;
    padding: 12px 10px;
    font-size: 15px;
    background-color: #fe775a;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-white{
    background-color: transparent;
    color: #fe775a;
    border-color: #fe775a;
}

.btn-big{
    padding: 25px 40px;
}

.b-shadow{
    box-shadow: 0px 1px 3px #888888;
    border-radius: 2px;
}

/* HEADER */
/* -HEADER-TOP */

header .header-top{
    background-color: #f4f9fd;
    line-height: 85px;
    border-bottom: 1px solid #000;
}

header i.fa-chevron-down{
    vertical-align: text-bottom;
}

/* --HEADER-TOP-LEFT */

header .header-top-left > span{
    margin: 0 15px;
}
/* --HEADER-TOP-RIGHT */

header .header-top-right i.fa-search{
    color: #03a6be;
    vertical-align:middle;
}

header .header-top-right a{
    margin-left: 22px;
}

/* -HEADER-BOTTOM */

header .header-bottom{
    line-height: 85px;
}

/* --HEADER BOTTOM LEFT */
.header-bottom-left img{
    vertical-align: middle;
}

/* --HEADER BOTTOM RIGHT */
.header-bottom-right ul li{
   display: inline-block;
   margin-left: 20px;
}

.header-bottom-right ul li i{
    margin-left: 10px;
}
/* MAIN */
/* -JUMBOTRON */
.jumbotron{
    height: 590px;
    background-image: url("../img/jumbotron.png");
    background-color: #fff5ef;
    background-repeat: no-repeat;
    background-size: 73%;
    background-position: right top;
}

.jumbotron .text-jumbotron h1{
    padding-top: 60px;
    font-size: 50px;
}

.jumbotron .text-jumbotron div:last-child{
    font-size: 14px;
}

/* -COLORED BORDER */
.colored-border{
    height: 89px;
    background-color: #afebe4;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* -CONTAINER OF BLOCKS SECTION*/
.container-of-bloks{
    background-color: #f4f9fd;
    padding-top: 50px
}

/* --BETTER TOGETHER SECTION */
.container-of-bloks .better-together{
    margin: auto;
}

.container-of-bloks .better-together > img{
    width: 250px;
}
/* --FREE CRM SECTION */
.container-of-bloks > .free-crm{
    background-color: white;
    padding: 80px 100px;
    margin-top: 50px;
}

/* ---CRM LEFT */
.container-of-bloks .free-crm .crm-left{
    width: 30%;
}

.container-of-bloks .free-crm .crm-left img{
    width: 52%;
    margin-bottom: 20px;
}

/* ---CRM-RIGHT */
.container-of-bloks .free-crm .crm-right{
    width: 70%;
}

.crm-right h3{
    margin-top:10px;
}

.crm-right .relative{
    margin: 40px 0px 40px;
}
.crm-right .relative h4{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: white;
    padding-right: 50px;
}

.container-of-bloks .free-crm .crm-right li{
    display: inline-block;
    margin-right: 20px;
}

/* --CRM COLUMNS SECTION*/
.crm-columns{
    margin-top: 50px
}

.crm-columns >div{
    width: 30%;
    padding: 20px 50px;
    background-color: white;
}

.crm-columns div:nth-child(2){
    margin: 0 5%;
}

.crm-columns div img{
    height: 110px;
}

.crm-columns div p{
    margin: 30px 0px 0px;
    font-size: 14px;
    min-height: 160px;
    max-height: 160px;
    overflow:auto;
}

.crm-columns div ul li{
    text-align: left;
}
/* -TABLE SECTION */
main section.table{
    margin-top: 50px;
    padding: 50px 0px 90px;
    color: white;
    background-image: linear-gradient(to right, #00a5bc, #00bca6);
}

section.table h2{
    font-size: 33px;
}

section.table p{
    font-size: 16px;
}

section.table .row .float-left{
    width: 25%;
    max-height: 200px;
    min-height: 200px;
    padding: 20px 0px;
    overflow: auto;
}

section.table .row img{
    max-width: 130px;
}

.table-numbers{
    margin: 20px 0px;
    font-size: 40px;
}

.table-numbers span{
    font-weight: bold;
}

.table .row .float-left > span{
    font-size: 13px;
}

.table .container .row:last-child{
    border-top: 1px solid white;
}

.table .container .float-left:not(:last-child){
    border-right: 1px solid white;
}

/* -REGISTRATION SECTION */

.registration .costumers-number{
    width: 42%;
    padding: 50px 180px 0px 80px;
}

.registration .costumers-number > span{
    font-size: 50px;
    font-weight: bold;
}

.registration .costumers-brands{
    width: 58%;
    padding: 50px 40px 50px 0px;
}

.registration .costumers-brands .float-left{
    position: relative;
    width: 25%;
    height: 70px;
}

.registration .costumers-brands img{
    max-width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration .costumers-brands img[alt="Classpass"]{
    width: 120px;
    left: 40%;
}

/* --SUBSCRIVE */
.registration .container .subscribe{
    width: 42%;
}

.registration .subscribe h2{
    font-size: 37px;
    margin-top: 80px;
}

.registration .subscribe div:last-child{
    font-size: 15px;
}

/* --FIGURE */
.registration .container figure{
    width: 58%;
    text-align: right;
}

.registration .container img{
    width: 350px;
}
/* FOOTER */
footer{
    background-color: #32495b;
    color: white;
    height: 500px;
}

footer .container{
    padding: 40px 0px;
}

footer .container .col{
    float: left;
    width: 25%;
    padding-right: 30px;
}

footer .container .col h5{
    font-size: 17px;
}

footer .container .col a{
    color: #dadee0;
}

footer .container .col li{
    margin-bottom: 18px;
}

footer .container .col .btn{
    background-color: #dadee0;
    color: #32495b;
    font-size: 13px;
    font-weight: 600;
}

