/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #4E5A6A;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 30px;
}

p{
    line-height: 30px;
}
/* UTILIES */

.container{
    width: 1270px;
    margin: auto;
}

.w-50{
    width: 50%;
}

.h-container{
    height: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

/* NON UTILIZZATO */
.mt-30{
    margin-top: 30px;
}

.mb-30{
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    min-width: 60px;
    line-height: 1;
    text-align: center;
    padding: 12px 10px;
    font-size: 15px;
    background-color: #fe775a;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-white{
    background-color: transparent;
    color: #fe775a;
    border-color: #fe775a;
}

/* HEADER */
/* -HEADER-TOP */

header .header-top{
    background-color: #f4f9fd;
    line-height: 85px;
    border-bottom: 1px solid #000;
}

header i.fa-chevron-down{
    vertical-align: text-bottom;
}

/* --HEADER-TOP-LEFT */

header .header-top-left > span{
    margin: 0 15px;
}
/* --HEADER-TOP-RIGHT */

header .header-top-right i.fa-search{
    color: #03a6be;
    vertical-align:middle;
}

header .header-top-right a{
    margin-left: 22px;
}

/* -HEADER-BOTTOM */

header .header-bottom{
    line-height: 85px;
}

/* --HEADER BOTTOM LEFT */
.header-bottom-left img{
    vertical-align: middle;
}

/* --HEADER BOTTOM RIGHT */
.header-bottom-right ul li{
   display: inline-block;
   list-style:none;
   margin-left: 20px;
}

.header-bottom-right ul li i{
    margin-left: 10px;
}
/* MAIN */
/* -JUMBOTRON */
.jumbotron{
    height: 590px;
    background-image: url("../img/jumbotron.png");
    background-color: #fff5ef;
    background-repeat: no-repeat;
    background-size: 83%;
    background-position: right;
}

.jumbotron .text-jumbotron h1{
    padding-top: 60px;
    font-size: 50px;
}

.jumbotron .btn{
    padding: 20px 40px;
}

.jumbotron .text-jumbotron div:last-child{
    font-size: 14px;
}

/* -COLORED BORDER */
.colored-border{
    height: 89px;
    background-color: #afebe4;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* -MAIN-CONTENT*/
/* --BETTER TOGETHER SECTION */
.main-content{
    margin-top: 50px
}

.main-content .better-together{
    margin: auto;
}

.main-content .better-together > img{
    width: 250px;
}
/* --FREE CRM */

/* --FREE COLUMNS */

/* -TABLE SECTION */

/* -REGISTRATION SECTION */

/* FOOTER */